body{
    background-image: url(../IMAGENS/bolo\ de\ fuba\ cremoso\ blur\ \(1\).png) ;
    background-size: cover;
    text-align: justify;

}
.alice-regular {
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
}
.pai{
    background-color: #F0E8C2;
    padding: 24px;
    width: 800px;
    margin: 48px auto;
    border-radius: 24px;
    box-sizing: border-box;
}
.inicio{
    margin-bottom: 24px;
}
.meio{
    margin-bottom: 24px;
}
.imagem img{
    border-radius: 16px;
    max-width: 100%;
}
a{
    text-decoration: none;
}
h1{
    color: blueviolet;
}
